<label>
  <p class="primary-label">What you want to say...</p>
  <textarea class="form-textarea" [(ngModel)]="q"></textarea>
</label>
<br />
<div class="grid tl">
  <recog class="grid-item 1/5" [voice]="googleObj.voice0" [(content)]="googleObj.q"></recog>
  <synth class="grid-item 1/5" [voice]="googleObj.voice0" [content]="googleObj.q"></synth>
  <copy class="grid-item 1/5" [content]="googleObj.q"></copy>
  <div class="grid-item 1/5"></div>
  <div class="grid-item 1/5 tr">
    <button class="btn" (click)="clear()">
      <trash-svg></trash-svg>
    </button>
  </div>
</div>
