<label>
  <p class="secondary-label">How it translates to their language!</p>
  <textarea class="form-textarea" [(ngModel)]="result"></textarea>
</label>
<br />
<div class="grid tl">
  <recog class="grid-item 1/5" [voice]="googleObj.voice1" [(content)]="googleObj.result"></recog>
  <synth class="grid-item 1/5" [voice]="googleObj.voice1" [content]="googleObj.result"></synth>
  <copy class="grid-item 1/5" [content]="googleObj.result"></copy>
  <div class="grid-item 1/5"></div>
  <div class="grid-item 1/5 tr">
    <button class="btn" (click)="clear()">
      <trash-svg></trash-svg>
    </button>
  </div>
</div>
